.collections_list {
  width: 70%;
  display: flex;
  margin-top: 50px;
  .section_une {
    width: 75%;
    color: #000;
    .livre {
      margin-top: 20px;
      width: 100%;
      height: auto;
      position: relative;
      display: flex;
      .couverture {
        position: relative;
        width: 30%;
        .couverture_img {
          height: 200px;
        }
        overflow: hidden;
      }
      .synthese {
        position: relative;
        width: 80%;
        padding-left: 10px;
        padding-right: 10px;

        h3 {
          font-size: 19px;
          font-weight: bold;
          text-transform: capitalize;

          margin-top: -20px;
        }
        h5 {
          font-size: 13px;
        }
      }
    }
  }
  .section_deux {
    width: 25%;
  }
  .caroussels_img {
    display: flex;
    height: 200px;
  }
  .main_caroussel {
    width: auto;
  }
  @media (min-width: 739px) and (max-width: 939px) {
    width: 85%;
    .section_une {
      .livre {
        .couverture {
          .couverture_img {
            height: 200px;
          }
        }
        .synthese {
          h3 {
            font-size: 14px;
            font-weight: bold;
          }
          h5 {
            font-size: 10px;
          }
        }
      }
    }
  }
  @media (min-width: 0) and (max-width: 739px) {
    display: flex;
    width: 90%;
    flex-direction: column;
    .section_une {
      width: 100%;
      .livre {
        margin-top: 20px;
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        .couverture {
          position: relative;
          width: 30%;

          .couverture_img {
            height: 160px;
          }
        }
        .synthese {
          position: relative;
          width: 70%;

          padding-left: 5px;
          padding-right: 5px;
          font-size: 11px;

          h3 {
            font-size: 14px;
            font-weight: bold;
          }
          h5 {
            font-size: 10px;
          }
        }
      }
    }
    .section_deux {
      width: 100%;
      margin-top: 50px;
    }
  }
}
@media (min-width: 0) and (max-width: 439px) {
  .addon_text {
    display: none;
  }
}
.carousel_collections {
  width: 200px;
  display: flex;
  justify-content: center;
}
.categories {
  // margin-left: 30px;
  margin-left: 10px;
  margin-top: 40px;
  padding-right: 10px;
  h3 {
    font-size: 19px;
    font-weight: bold;
  }
  ul {
    margin-left: -38px;
    li {
      display: inline-block;
      list-style: none;
      border: none;
      // padding: 4px 9px;
      margin-top: 10px;
      // border-bottom: 1px solid #b0a6a6;

      color: #1e1717;
      font-size: 13px;
    }
  }
  ul li:hover {
    background-image: linear-gradient(
      to bottom right,
      #f8f8f81c,
      #adbbbe0b,
      #105f712e
    );
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
  }
}
.syhth_liv {
  font-size: 15px;
  margin-bottom: 10px;
}
.container_mast {
  position: relative;
}
.img_livre {
  position: relative;
  width: 100%;
  height: auto;
}

.img_cver {
  position: relative;
  width: 22%;
  float: left;
  img {
    width: 100%;
  }
}
.img_cver_legende {
  padding-top: 30px;
  float: left;
  position: relative;
  width: 78%;
  min-height: 200px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  h5 {
    font-size: 16px !important;
  }
  font-weight: normal;
}
.synth_livre_n {
  margin-top: 400px;
  padding-top: 20px;
  @media (min-width: 1000px) {
    padding-right: 80px;
    position: relative;
  }
}
.voir_aussi {
  margin-top: 40px;
  margin-bottom: 40px;
}
.livre_details {
  position: relative;
  width: 100%;
}
.livre_header {
  display: flex;
  .img_cover_legende {
    padding-top: 0px;
    font-size: 18px;
  }
}
.img_cover_details {
  width: 30%;
  img {
    width: 90%;
  }
}
.synthese_livre_n {
  width: 90%;
  margin-top: 30px;
}
.cards_container {
  padding-bottom: 20px;
}
