.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-family: var(--font-mono);
  min-height: 100vh;
  z-index: 11;
}

.app_container {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-mono);
  /* min-height: 100vh;*/
  background-color: #ffffff;
  margin-bottom: 370px;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
}

.containerIframe {
  width: 100% !important;
}
@media (min-width: 994px) and (max-width: 1384px) {
  .standard_header {
    position: relative;
  }
  .menu_principal {
    position: relative;
    width: 85%;
  }

  .logo_img {
    position: relative;
    width: 5%;
  }
}
@media (min-width: 1482px) {
  .logo_img {
    padding-left: 3%;
  }
}
@media (min-width: 966px) and (max-width: 1040px) {
  .standard_header {
    position: relative;
  }
  .menu_principal {
    width: 90%;

    padding-left: 0;
    justify-content: end;
  }
  .recherche_bar {
    width: 5%;
  }
  .logo_img {
    width: 5%;
  }
}
@media (min-width: 0) and (max-width: 994px) {
  .menu_principal {
    justify-content: end;
    padding-left: 90px;
    padding-top: 20px;
  }
  .cover_bloc {
    height: 200px;
  }

  .menu_nd {
    margin-top: 0px;
  }
  .recherche_bar {
    display: none;
  }
  .logo_img img {
    width: 90px;
    padding-top: 20px;
  }
}
.menu_principal ul a li {
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
}
/* fin menu */
.recherche_bar {
  position: relative;
  width: 15%;
}
.recherche_bar img {
  width: 30px;
  margin-top: 15px;
}

.cover_bloc,
.cover_bloc_soiré {
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9;
  position: absolute;
  height: 300px;
  width: 100%;
  color: black;
}
.cover_bloc {
  background-image: url("/back.png");
}
.cover_bloc_soiré {
  background-image: url("/prese.jpg");
}
.cover_bloc p,
.cover_bloc_soiré p {
  margin-bottom: 200px;
  position: absolute;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #072831da;
}

.cover_bloc,
.cover_bloc_soiré {
  overflow: hidden;
  position: relative;
}
.subtitle_n {
  position: relative;
  margin: 1em 0;
  font-size: 30px;
}
/* .cover_bloc::before, */
.welcom_bloc::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 100% 90px;
  background-position: 50% 100%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23f9f9f9"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23f9f9f9"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23f9f9f9"/></svg>');
}

@media (min-width: 2100px) {
  .cover_bloc::before,
  .welcom_bloc::before {
    background-size: 100% calc(2vw + 90px);
  }
}

.separator_ {
  margin-top: 10px;
  visibility: hidden;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-24 18:42:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */

/* ----------------------------------------------
 * Generated by Animista on 2023-1-24 18:56:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-3
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.relative_bloc {
  width: 75%;
  margin-bottom: 30px;
  display: flex;
}

.call_to_action {
  position: relative;
  width: 75%;
  text-decoration: none;
  text-align: center;
  padding-right: 20px;
  color: #0f0909;
}

/* .call_to_action_n a {
  padding: 13px 30px;
  font-weight: bold;
  margin-top: 29px;
  border: 1px solid #d7d7d7;
} */
.mysocial_medias ul {
  margin-left: -50px;
}
.mysocial_medias ul li {
  display: inline-block;
  border: none;

  width: 32px;
}
.mysocial_medias ul li a {
  border: none;
}
.mysocial_medias a {
  border: none;
}
.mysocial_medias img {
  width: 22px;
}

.top_cinq_img {
  position: relative;
  width: 30%;
  height: 300px;
}
.top_cinq_img img {
  position: relative;
  margin-top: 60px;

  width: 100%;
  border-radius: 269px 80px 510px 70px;
}
.top_cinq_list {
  position: relative;
  display: flex;
  width: 70%;
}

.lib_item {
  position: relative;
  width: 140px;
  display: inline-block;

  margin-left: 23.5px;
  margin-top: 40px;
  height: 180px;
}
.lib_item img {
  height: 100%;
  margin-bottom: 10px;
}
.lib_item_titre {
  font-size: 15px;
  padding: 10px 10px;
  /* border: 1px solid #918989; */
  border-radius: 7px;
}
.our_item_titre {
  text-align: justify;

  text-transform: lowercase;
}
.call_to_action a {
  padding: 8px 14px;
  border-radius: 10px;
  border: 1px solid #1b1b1b;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}
.call_to_action a:hover {
  background-color: #00000f;
  border: none;
  color: #ffffff !important;
}
.call_to_action_don_livre {
  min-height: 300px;
  background-image: url("/our_lib.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  z-index: 0;
  position: fixed;

  margin-top: 160px;
}

.call_to_giv_lib {
  position: relative;
}

.proposal {
  position: absolute;
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-color: rgba(24, 75, 100, 0.891);
  text-align: center;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 70px;
}
.proposal_action {
  border-radius: 60px;
  /* border: 1px solid #9c9595; */
  padding: 9px 50px;
  font-size: 18px;
  background-color: #c04a4a;
  transition: 0.1s;
  margin-bottom: 20px;
  text-decoration: none;
  color: #ffffff !important;
  font-size: 14px;
}
.proposal_action:hover {
  border-radius: 60px;
  border: none;
  padding: 10px 20px;
  background-color: #893232;
  padding: 10px 35px;
  transition: 0.1s;
  font-size: 17px;
  color: #ffffff !important;
}
.our_collection {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center;
  position: relative;
  min-height: 460px;
  width: 100%;
  border-radius: 23px 23px 0 0;
}
.collections {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.default_div_fo_libs {
  position: relative;
  width: 65%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.Carte_pour_livre {
  position: relative;
  width: 150px;
  height: auto;

  margin-left: 20px;
  margin-bottom: 80px;

  display: inline-block;
}
.Carte_pour_livre_header {
  position: relative;
  width: 100%;
  height: 60px;

  padding-left: 5px;
  padding-right: 5px;
  float: left;

  font-weight: bold;
  font-size: 14px;
  display: flex;
  padding-bottom: 10px;
}
.Carte_pour_livre_section1 {
  position: relative;
  width: 100%;
  height: 100%;
}
.Carte_pour_livre_footer {
  position: relative;
  width: 100%;
  margin-top: 20px;
  padding-left: 00px;
}
.Carte_pour_livre_footer_n {
  position: relative;
  width: 100%;
  margin-top: 20px;
  padding-left: 0px;
  display: flex;
}

.Carte_pour_livre_footer_n a {
  width: auto;
  text-align: justify;
  text-decoration: none;
  margin-right: 20px;
  font-size: 12px;
  /* color: #f9f9f9 !important; */
}
/* .Carte_pour_livre_footer_n a:hover {
} */
.whatsapp span {
  position: absolute;
  top: 2px;
}
.whatsapp {
  width: 200px;
}
/* .action_color {
} */
.whatsapp img {
  margin-right: 10px;
}
.Carte_pour_livre_footer_n a img {
  width: 28px;
}
.Carte_pour_livre_footer a {
  /* margin-left: 20px; */
  padding: 9px 19px;
  cursor: pointer;
  border-radius: 6px;
  /* border: 1px solid rgb(94, 94, 98); */
}
.Carte_pour_livre_section2 {
  position: relative;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.Carte_pour_livre_section1 img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}
.section_title {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
}

.Carte_pour_livre_containt {
  width: 100%;
  /* height: 260px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.Carte_pour_livre_containt img {
  height: 220px;

  transform: scale(1);
}
.default_div_fo_libs_container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 60px;
  border-radius: 30px 30px 0px 0px;
}
.collections_list {
  margin-top: 70px;
  position: relative;
  display: flex;
  width: auto;
}
.lib_item_list {
  position: relative;
  display: flex;
  width: 200px;
}
.lib_item_list {
  width: 100%;
}
.top_cinq_titre h2 {
  padding-bottom: 6px;
}
.top_cinq_titre a {
  position: relative;

  border: 1px solid #1b1b1b;
  padding: 10px 20px;
  border-radius: 90px;
}
/* footer */
.footer {
  position: relative;
  height: auto;
  display: flex;
  /* flex-direction: row; */

  justify-content: center;
  padding-top: 90px;
  color: #0f0909;
  width: 100%;
  margin-bottom: 0w;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.section1 {
  width: 50%;

  display: flex;
  justify-content: center;
}

.section1 a {
  border: 1px solid #4f4646;
  padding: 9px 20px;
  border-radius: 70px;
  color: #4f4646;
  text-decoration: none;
}
.section2 {
  width: 50%;
  display: flex;
  justify-content: center;
  color: #26555f;
  font-size: 15px;
}
@media (min-width: 978px) {
  .section1 {
    padding-left: 12%;
    justify-content: start;
  }
  .section2 {
    justify-content: end;
    padding-right: 12%;
  }
}
.copyright {
  width: 100%;
  position: relative;
  background-color: #106071;

  z-index: 12;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #bab4b4;
  font-size: 13px;
}
.default_div {
  width: 69%;
  background-color: #ffffff;
  margin-bottom: 40px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 70px 70px;
  z-index: 10;

  font-size: 1.3em;

  text-align: justify;
  float: left;
}

@media (min-width: 0px) and (max-width: 1554px) {
  .relative_bloc {
    width: 100%;
  }
  .default_div {
    width: 100%;
    font-size: 17px;
    text-align: justify;
    /* margin: 0; */
    padding: 0 1.9em;
  }
  .default_div ul {
    margin-left: -9px !important;
    margin-right: 0px !important;

    margin-top: 20px;
    margin-bottom: 20px;
  }
  .subtitle_n {
    font-size: 18px;
    font-weight: bold;
  }
  .cover_bloc_title {
    font-size: 50px !important;
    font-weight: bold;
    -webkit-animation: bounce-in-top 1.1s both;
    animation: bounce-in-top 1.1s both;
  }
  .cover_bloc_title_n {
    font-size: 26px;
  }
}
@media (min-width: 854px) {
  .default_div {
    width: 66%;
    font-size: 17px;
    text-align: justify;
  }
}
@media (max-width: 854px) {
  .cover_bloc_title {
    font-size: 23px !important;
  }
  .cover_bloc_title_n {
    font-size: 22px;
  }
}
.subtitle_n_sr {
  font-weight: bold;
  margin-top: -5px;
  font-size: 30px;
  padding-bottom: 20px;
}
.collections_n {
  position: relative;
  width: 69%;
  margin-top: 10px;
  z-index: 12;
  display: flex;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}
.livre_n {
  width: 100%;
  height: 230px;
  display: flex;
  margin-bottom: 30px;
}
.livre_x {
  width: 100%;

  display: flex;
  margin-bottom: 30px;
}

.livre_n_details {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}
.livre_n_containt h3 {
  text-transform: lowercase;
  margin-bottom: 8px;
  font-size: 19px;
}
@media (min-width: 500px) and (max-width: 978px) {
  .collections_n {
    width: 87%;
  }
  .collections_n_section2 h4 {
    font-size: 18px !important;
    text-align: left;
  }
  .collections_n_section2 ul {
    margin-left: -20px;
  }
  .collections_n_section2 {
    margin-left: -20px;
  }
  .livre_n_containt {
    margin-left: 20px;
    font-size: 15px;
  }
  .livre_n_img img {
    height: 160px !important;
  }
  .Carte_pour_livre_footer_n {
    margin-top: 10px;
  }
  .livre_n {
    margin-bottom: 60px;
  }
  .livre_n_containt h3 {
    font-size: 17px;
  }
}
@media (min-width: 0) and (max-width: 744px) {
  .collections_n {
    display: flex;
    flex-direction: column;
  }
  .collections_n_section2 {
    display: none;
  }
  .collections_n_section1 {
    width: 100% !important;
  }
  .livre_n {
    display: flex;
    width: 97% !important;
    margin-right: 0;
    height: auto;
    padding-right: 0;
    flex-direction: column;
  }
  .livre_n img {
    width: 100%;
  }
  .livre_n img img {
    width: 200px !important;
    height: 200px;
  }
  .livre_n_containt {
    width: 100% !important;
    margin-right: 0;
    padding-right: 0;
  }
}
.Carte_pour_livre_section1 h4 {
  color: hwb(19 18% 26%);
  text-decoration: italic;
  font-size: 12px;
}
.livre_n_img {
  width: 30%;
  height: 100%;
  float: left;
  overflow: hidden;
  margin-bottom: 30px;
}
.livre_n_containt {
  width: 70%;
  height: 100%;
  padding-right: 50px;
}

.livre_n_img img {
  height: 100%;
  transition: 1s;
}
.livre_n_img_n {
  width: 30%;
  position: relative;
}
.livre_n_img_n img {
  width: 95%;
}
.livre_n_img:hover img {
  transform: scale(1.2);
  transform: rotate(360deg);
}
.collections_n_section1 {
  position: relative;
  width: 70%;

  height: auto;
  float: left;
}

.collections_n_section2 {
  position: relative;
  width: 25%;
  height: auto;
  float: left;
  margin-right: 5%;
}
.collections_n_section2 h4 {
  font-size: 23px;
}
.default_div img {
  padding-bottom: 10px;
  padding-right: 30px;
  height: 280px;
  float: left;
}
.liste_des_categorie {
  margin-top: 20px;

  margin-bottom: 30px;
}
.collections_n_section2 img {
  justify-self: center;
  height: 260px;
}
.liste_des_categorie a li {
  margin-top: 20px;
  list-style-type: none;
  padding-left: 2px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #d5d1d1;
  margin-left: 0%;
}
.liste_des_categorie span {
  position: absolute;
  right: 10px;
  /* top: px; */
}
.default_div ul {
  margin-left: 49px;
  margin-right: 49px;
  color: #565353 !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
.default_div ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cover_bloc_title {
  font-size: 70px;
  font-weight: bold;
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 3.1s both;
}
.Carte_pour_livre_a {
  margin-bottom: 20px;
  padding: 6px 18px;
  border: 1px solid #e54d4d;
  transition: 1s;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
}
.Carte_pour_livre_a:hover {
  background-color: rgb(20, 18, 18);
  border: none;

  color: rgb(205, 197, 197) !important;
}
/* medias querry 1*/
@media (min-width: 988px) and (max-width: 1054px) {
  .welcom_bloc {
    /* background-image: url("/3.png"); */
    height: 260px;
  }
  .welcom_bloc p {
    top: 120px;
  }
  /* .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .section1 {
    padding-top: -90px;
    width: 80%;
    text-align: center;
  }

  .section1 a {
    border: 1px solid #4f4646;
    padding: 10px 20px;
    text-decoration: none;
    color: #1b1b1b;
    font-weight: bold;
  }
  .section2 {
    width: 80%;
    padding-left: 0%;

    text-align: center;
    margin-top: 30px;
  } */
}
@media (min-width: 978px) and (max-width: 1276px) {
  .caroussel_n {
    display: none;
  }
  .welcom_bloc {
    background-image: url("/3.png");
  }
  .welcom_bloc p {
    padding-top: 130px;
    position: absolute;
    background-color: rgba(12, 42, 69, 0.717);
    color: #ffffff;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  /* .footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .section1 {
    padding-top: -90px;
    width: 80%;
    text-align: center;
  }

  .section1 a {
    border: 1px solid #4f4646;
    padding: 10px 20px;
    text-decoration: none;
    color: #1b1b1b;
    font-weight: bold;
  }
  .section2 {
    width: 50%;
    padding-left: 0%;
    text-align: center;
    margin-top: 30px;
  } */
}

.pricingtable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  .welcom_bloc {
    /* background-image: url("/3.png"); */
    height: 400px;
  }
}
.pricingtable h2 {
  margin: 60px;
  font-weight: 700;
  font-size: 1.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 20px 0;
}

.pricingtable .element {
  border: 1px solid var(--dark-grey);
  border-radius: 12px;
  width: 100%;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  background-color: var(--white);
}

/* .element > * {
    margin: 20px;
  } */

.element:nth-of-type(2) {
  transform: scale(1.02);
}

.element .info h3 {
  font-size: 1.5rem;
  margin: 10px;
  text-align: center;
}

.element .info p {
  text-align: center;
  margin: 10px 20px;
  font-size: 15px;
}

.element .price {
  font-size: 1.3rem;
  font-weight: 700;
}

.element .period {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--grey);
  padding: 0.5rem;
  border-radius: 8px;
  color: var(--dark);
}

.element .period label {
  flex: 1 1 50%;
  text-align: center;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.element .period label:hover {
  text-decoration: underline;
}

.period input[type="radio"] {
  display: none;
}

.period input[type="radio"]:checked + label {
  font-weight: 700;
  background-color: var(--white);
  border-radius: 6px;
}

.element ul {
  font-size: 1.2rem;
  list-style-type: none;
}

.element ul li {
  margin: 0.5rem;
}

.element ul li::before {
  content: url("https://karolnowinski.pl/assets/check-mark.svg");
  display: inline-block;
  margin: 0 10px;
  width: 1em;
  height: auto;
}

.element button {
  border: 0;
  background-color: var(--white);
  font-size: 1.2rem;
  color: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 8px;
  padding: 6px 30px;
  margin: 10px;
  font-weight: 200;
  cursor: pointer;
}

.element button:hover {
  text-decoration: none;
  box-shadow: 2px 2px 0px var(--dark);
}

.element button:focus {
  outline-color: var(--dark);
}

.active {
  background: linear-gradient(135deg, var(--red), var(--orange));
  color: var(--white);
  border: 1px solid transparent !important;
}

.active ul li::before {
  content: url("https://karolnowinski.pl/assets/check-mark-white.svg");
}

.active button {
  border-color: transparent;
}
.prix_1 {
  background: #c8e4ea !important;
}
.prix_1:hover {
  background: #106071 !important;
  color: #f7f7f7;
}

.prix_2 {
  background: #fae4e4 !important;
}
.prix_2:hover {
  background: #e54d4d !important;
  color: #f7f7f7;
}

.prix_3 {
  background: #f7d7d7 !important;
}
.prix_3:hover {
  background: #bb2626 !important;
  color: #f7f7f7;
}

.btn_1 {
  background: #106071 !important;
  color: #f7f7f7 !important;
  outline: none;
}
.btn_1:hover {
  background: #c8e4ea !important;
  color: #106071 !important;
}

.btn_2 {
  background: #e54d4d !important;
  color: #f7f7f7 !important;
}
.btn_2:hover {
  background: #f7d7d7 !important;
  color: #e54d4d !important;
}

.btn_3 {
  background: #bb2626 !important;
  color: #f7f7f7 !important;
}
.btn_3:hover {
  background: #f7d7d7 !important;
  color: #bb2626 !important;
}

@media only screen and (max-width: 1500px) {
  /* html {
      font-size: 10px;
    } */
}

@media (min-width: 100px) and (max-width: 978px) {
  .caroussel_n {
    display: none;
  }
  .welcom_bloc {
    background-image: url("/3.png");
  }
  .welcom_bloc p {
    position: absolute;
    background-color: rgba(12, 42, 69, 0.585);
    padding-top: 200px;
    color: #ffffff;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .app_container {
    width: 100%;
  }

  .top_cinq_img {
    display: none;
  }
  .Carte_pour_livre {
    position: relative;
    width: 110px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 20px;

    /* 
    display: inline-block; */
    float: left;
  }
  .top_cinq_list {
    position: relative;
    display: flex;
    width: 100%;
  }
  .top_cinq_list_livre {
    width: 100%;
  }
  /* .Carte_pour_livre_footer_n a img {
    width: 28px;
  } */
  .Carte_pour_livre_footer a {
    font-size: 17px;
    font-size: 11px;
    padding-left: 0px;
  }
  .Carte_pour_livre_section1 {
    font-size: 11px;
  }
  .Carte_pour_livre_section1 img {
    width: 20px;
    height: 20px;
  }
  .footer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .section1 {
    padding-top: -90px;
    width: 100%;
    text-align: center;
  }

  .section1 a {
    border: 1px solid #4f4646;
    padding: 10px 20px;
    text-decoration: none;
    color: #1b1b1b;
    font-weight: bold;
  }
  .section2 {
    width: 100%;
    padding-left: 0%;

    text-align: center;
    margin-top: 10px;
    font-size: 12px;
  }

  /* .Carte_pour_livre_containt {
    width: 100%;
  }
  .Carte_pour_livre_containt img {
    height: 150px;
    margin-top: 10px;
  } */
}
